.app-header{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px 20px;

background:white;

border-radius:18px;

box-shadow:0 5px 20px rgba(0,0,0,.12);

margin-bottom:25px;

}

.center{

display:flex;

align-items:center;

gap:12px;

}

.logo{

width:55px;

height:55px;

border-radius:50%;

}

.center h3{

margin:0;

color:#198754;

font-weight:700;

}

.center small{

color:#666;

}

.back-btn,.lang-btn{

width:48px;

height:48px;

border:none;

border-radius:50%;

background:#198754;

color:white;

font-size:20px;

transition:.3s;

}

.back-btn:hover,

.lang-btn:hover{

background:#146c43;

transform:scale(1.08);

}